body{
	background-color: #CCCCCC;
}
hr{
	width:90%;
	border-color: #98B1C4;
}

#page_title{
	font-family: helvetica;
	color:black;
	text-align: center;
}

.improvements{
	width:90%;
	display:block;
	margin: 0 auto;
	font-family: helvetica;
	color:#2F4E6F;
	text-align: justify;
	font-size: 1.8em;
}